html,body{
  max-width: 450px;
  background: #fff;
  margin: 0 auto;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
body {
  margin-bottom: 50px;
}
img{
  width: 100%;
}
p {
  margin: 20px;
}
div {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.mt {
  margin-top: 35px;
}
.mb {
  margin-bottom: 25px;
}


.title {
  font-size: 35px;font-weight: 600;
}
.content {
  font-size: 13px;margin:10px 20px;
}
.e-title {
  font-size: 35px;font-weight: 700;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
.e-font {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
.sub-title{
  font-size: 20px;font-weight: 700;margin: 30px 20px 15px 20px;
}
section.marquee-wrap {
  white-space: nowrap;
  overflow: auto;
  font-size: 0;
}

section.marquee-text{
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin: 15px 0;
}

.marquee {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
}

.header {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
  background: #fff;
  transform: none!important;
}

.img-video {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.img-video img{
  width: 150px;
  height: 85px;
}
.img-video video{
  width: 150px;
  height: 85px;
}

.title + .title{
  margin-top: -33px;
}
.sub-title + .sub-title{
  margin-top: -20px;
}
.sub-title-small{
  font-size: 17px;font-weight: 700;margin: 20px 20px 5px 20px;
}

.tip-2 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.col-box {
  display: flex;
  margin: 10px 0;
}

.col-box p{
  margin: 0;
}

.e-sub-title{
  font-size: 18px;font-weight: 700;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
.e-sub-title + .e-sub-title{
  margin-top: -27px;
  margin-bottom: 10px;
}

.home-video {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto !important;
  height: auto !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-video.hide {
  visibility:hidden;
}

.home-video.show {
  visibility:visible;
}

.home-video img {
  width: 100%;
  height: auto !important;
}